.subreddits {
  margin: 0 10px;
  padding-right: 10px;
  border: 1px solid #2196f3;
  border-radius: 5px;
  background: white;
}
.subreddits li {
  list-style-type: none;
}

.subreddits li:hover {

  cursor: pointer;
}

.active{
  color:blue;
  font-weight:bolder ;
}

.subreddits li + li {
  margin-top: 20px;
}

.subreddits h2 {
  text-align: center;
}

.icon {
  display: inline-block;
  height: 27px;
  width: 27px;
  overflow: hidden;
  border-radius: 50%;
  border: 2px solid grey;
  margin-right:10px;
}

.subreddits img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
