.comment p,
.comment h5 {
  margin: 0;
}

.comment {
  background: linear-gradient(to right, white, rgb(249, 248, 248));
  border-left: 2px solid black;
  padding-left: 5px;
}
.comment p {
  font-size: 18px;
  padding-left: 10px;
  margin-bottom: 20px;
}

