.post{
    display: flex;
    width: 750px;
    border-radius: 10px;
    justify-content: center;
    margin-bottom: 20px;
    background: white;
    overflow:hidden;
    box-shadow: 0 7px rgba(236, 228, 228, 0.767);

}

.post .info{
    width:80%;    
}

.post h6,
.post h3{
    margin: 0 !important;
}



.post img{
    width:500px ;
    max-height: 100%;
    border:1px solid grey;
}

.upvotes{
    margin-top: 15px;
    margin-right:20px;
    width:6%;
    text-align: center;
}

.upvotes button,.info button{
    background-color: white;
    border:none;
}

.upvotes button:hover{
    cursor:pointer;
}

.active{
    color:blue;
}

@media only screen and (max-width:1160px) {
    .post{
        width: 100%;
    }

}

@media screen and (max-width:800px) {
    .post img{
        width:300px
    }

}

@media screen and  (max-width:500px){
    .post img{
        width:200px;
    }

}